<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <div>
        <h2>Welcome!</h2>
        <form method="POST" th:action="@{/login}">
            <label for="username">Username</label>:
            <input type="text" name="username" id="username"/>
            <label for="password">Password</label>:
            <input type="password" name="password" id="password"/>
            <button type="submit" name="submit" value="value" class="link-button">Log in</button>
        </form>
    </div>
</div>
</body>
</html>