<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <a class="btn btn-warning" th:href="@{/show-competitions}">Back</a>
    <h2>Competition</h2>
    <div>
        <p th:text="'Name: ' + ${batchesCompetition.name}"></p>
        <p th:text="'Location: ' + ${batchesCompetition.location}"></p>
    </div>
    <div>
        <p th:text="'Start date: ' + ${batchesCompetition.startDate}"></p>
        <p th:text="'End date: ' + ${batchesCompetition.endDate}"></p>
    </div>
    <div>
        <p th:text="'Inscription start date: ' + ${batchesCompetition.inscriptionStartDate}"></p>
        <p th:text="'Inscription end date: ' + ${batchesCompetition.inscriptionEndDate}"></p>
    </div>
    <div>
        <p th:text="'Organizer: ' + ${batchesCompetition.organizer}"></p>
        <p th:text="'Type: ' + ${batchesCompetition.type}"></p>
    </div>
    <div class="col-12">
        <h3>Batches</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Platform</th>
                <th>Date</th>
                <th>Weighin Time</th>
                <th>Start Time</th>
                <th>Gender</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="batch : ${batches}">
                <td th:text="'Batch ' + ${batch.id}"></td>
                <td th:text="${batch.platform}"></td>
                <td th:text="${batch.date}"></td>
                <td th:text="${batch.weighinTime}"></td>
                <td th:text="${batch.startTime}"></td>
                <td th:text="${batch.gender}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/show-competition-play/} + ${batch.id}">Play </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>